# Importando base de dados e pacotes

In [12]:
import pandas as pd
import seaborn as sns

In [2]:
dados = pd.read_csv('dados/tips.csv')

In [3]:
dados

     total_bill   tip dessert   day    time  size
0         16.99  1.01      No   Sun  Dinner     2
1         10.34  1.66      No   Sun  Dinner     3
2         21.01  3.50      No   Sun  Dinner     3
3         23.68  3.31      No   Sun  Dinner     2
4         24.59  3.61      No   Sun  Dinner     4
..          ...   ...     ...   ...     ...   ...
239       29.03  5.92      No   Sat  Dinner     3
240       27.18  2.00     Yes   Sat  Dinner     2
241       22.67  2.00     Yes   Sat  Dinner     2
242       17.82  1.75      No   Sat  Dinner     2
243       18.78  3.00      No  Thur  Dinner     2

[244 rows x 6 columns]

# Traduzindo Tabela

In [4]:
renomear = {
    'total_bill' : 'valor_da_conta', 
    'tip': 'gorjeta', 
    'dessert': 'sobremesa', 
    'day' : 'dia_da_semana', 
    'time' : 'hora_do_dia', 
    'size' : 'total_de_pessoas'   
}

In [5]:
gorjetas = dados.rename(columns = renomear)

In [6]:
sim_nao = {
    'No' : 'Não', 
    'Yes' : 'Sim'
}

In [7]:
gorjetas.sobremesa = gorjetas.sobremesa.map(sim_nao)

In [8]:
dias = {
    'Sun' : 'Domingo',
    'Sat': 'Sábado',
    'Thur': 'Quinta', 
    'Fri' : 'Sexta'
}

In [9]:
gorjetas.dia_da_semana = gorjetas.dia_da_semana.map(dias)

In [10]:
hora = {
    'Dinner' : 'Jantar',
    'Lunch' : 'Almoço'
}

In [24]:
gorjetas.hora_do_dia = gorjetas.hora_do_dia.map(hora)

In [26]:
gorjetas.to_csv('dados/gorjetas.csv', index = False)